@media screen and (min-width: 1024px) and (max-width: 1420px) {

a.addtocarttext {
  background: url("../images/kolyaska.png")no-repeat 23px 70px;
  display: block;
  padding-top: 3px;
  padding-bottom: 6px;
}
.mainbar {
  height: 574px;
  margin: 0 auto;
  padding-top: 20px;
  width: 991px;
}
.banner {
  float: left;
  margin-left: 20px;
  width: 500px;
}
.banner img { width: 500px; height: auto;}
.icons > div { width: 70px;}
.line1 {
  padding-top: 10px;
  padding-left: 290px;
}
input.inputs {
  width: 310px;
  height: 37px;
  border: 0;
  margin-left: 7px;
  direction: rtl;
  padding: 3px;
  background: url("../images/lupa.png") no-repeat 8px 9px #e1efff;
  padding-right: 10px;
}
    
.bnrtxt
{
    margin-right:40px;
}
.fltrs {
        margin-left: 35px;
    }
.fltrs > a { width: 132px; height: 152px; 
             

}
a.mg16  { margin-right: 0!important;}

.mg11 { margin-top:-6px; }
.mg12 { }
.fooblock {
  height: 316px;
  border-left: 1px solid #3272bf;
  width: 150px;
  float: left;
  font-size: 12px;
}
.mg13 { }
.mg14 {}
.mg15 {  }
.mg16 { }
.wrapper {
  margin: 0 auto;
  width: 1000px;
}
.bloker {
  width: 235px;
  height: 383px;
  float: left;
  margin-right: 20px;
  background: white;
}

.clearright {
  margin-right: 0;
}
.overlay {
  background: #00b3e4;
  text-align: center;
  padding: 61px 0 0px 0;
  opacity: 0;
  -webkit-transition: opacity 0.01s ease;
  -moz-transition: opacity .25s ease;
  margin-top: -124px;
}
.overlay img {
  margin-left: -140px;
  margin-bottom: 10px;
}
.new1 {
  width: 235px;
  height: 148px;
  background: white;
  float: left;
  margin-right: 20px;
}
.txtblue {
  float: left;
  direction: rtl;
  width: 131px;
  font-size: 12px;
  padding-top: 26px;
  margin-left: 10px;
}
.new1 {
  width: 235px;
  height: 164px;
  
  float: left;
  margin-right: 20px;
}
.fgh {
  background: #cce7ee;
}

.vdblc {
  width: 235px;
  margin-right: 20px;
  float: left;
}
.vdblc iframe {
  width: 235px; }

.clearright {
  margin-right: 0;
}
.header {
  width: 1012px;
  margin: 0 auto;
  height: 132px;
}
.wrp {
  width: 100%;
  margin: 45px auto;
  height: 60px;
  color: white;
}
.h2 img {   width: 322px;
  padding-top: 8px;}
.wrp {
  width: 996px;
  margin: 45px auto;
  height: 60px;
  color: white;
}

.S3 {width: 122px;}
.wrp1300 {
  margin: 0 auto;
  width: 1012px;
}
.lvl1 { z-index: 2; position: relative;}
.lvl2 { z-index: 2; position: relative;}
.lvl3 { z-index: 4; position: relative;}
.leftproduct {
  float: left;
  width: 194px;
}
.bloker1 {
  width: 194px;
  height: 253px;
  float: left;
  background: white;
  margin-bottom: 9px;
}
.con1300 {
  margin: 0 auto;
  width: 1016px;
  padding-top: 20px;
}
.rightproduct {
  float: left;
  width: 805px;
  margin-left: 13px;
}
.ltovar {
  float: left;
  width: 420px;
}
.rtovar {
  float: left;
  width: 384px;
  border-left: 1px solid #d2dadc;
  height: 451px;
  background: #e8e8e8;
}
.ad-gallery {
  width: 384px!important;
}
.lv img { width: 162px; height: 125px;}
.lv {
  text-align: center;
  padding-top: 10px;
}
.row1 { font-size: 13px;}
.row2 {
  font-size: 10px;
}
.row3, .row4 {
  font-size: 11px;
}
.row4 span { font-size: 17px!important;}
.greyc { background:url("../images/colors/grey.jpg") no-repeat center; width: 21px;
  height: 21px;
  display: block;
  border: 1px solid #bbbbbb;
  padding: 2px; }
.bluec {
  background: url("../images/colors/blue.jpg") no-repeat center;
  width: 21px;
  height: 21px;
  display: block;
  border: 1px solid #bbbbbb;
  padding: 2px;
}
.violetc { background:url("../images/colors/violet.jpg") no-repeat center;width: 21px;
  height: 21px;
  display: block;
  border: 1px solid #bbbbbb;
  padding: 2px; }
.pinkc { background:url("../images/colors/pink.jpg") no-repeat center; width: 21px;
  height: 21px;
  display: block;
  border: 1px solid #bbbbbb;
  padding: 2px; }
input[type="radio"]:checked + label {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #d2d2d2; 
    width: 21px; height: 21px;
}
.button { float: left; margin-right: 7px;}
.button input[type="radio"] {
    display: none;
}
.colorsselect { float: right; margin-left: 30px;}
.colorlabel { float: right; font-weight: 700; color:#4b4b4b; font-size: 15px; padding-top: 3px;
  margin-left: 10px;}
.spr_product {
  height: 1px;
  background-color: #c5cfd2;
  margin-top: -2px;
  margin-left: 10px;
  margin-right: 10px;
}

.pow2t {
  font-size: 18px;
  color: #ff6633;
  margin-top: 7px;
  margin-bottom: 7px;
}
.pow2t span {font-size: 18px!important;}
.pow2row1 input {
  width: 76px;
  height: 24px;
  text-align: center;
  font-size: 21px;
  box-shadow: inset 0px 0px 26px 10px rgba(172, 170, 170, 0.5);
  -moz-box-shadow: inset 0px 0px 26px 10px rgba(172, 170, 170, 0.5);
  -webkit-box-shadow: inset 0px 0px 26px 10px rgba(172, 170, 170, 0.5);
  border: 1px solid #bbbbbb;
  padding-right: 10px;
}
.powbtn { float: right; margin-top: 10px;}
.socntw {
  direction: rtl;
  padding-right: 26px;
  padding-top: 7px;
}
.tovar {
  background: #f3f3f3;
  height: 394px;
  width: 100%;
}
.pow1 {
  height: auto;
  background: #fff;
  padding: 10px 27px 11px 27px;
}
.pow2row2 {
  direction: rtl;
  margin: 10px 0 10px 0;
}
.rtovar {
  float: left;
    width: 382px;
  border-left: 1px solid #d2dadc;
  height: 395px;
  background: #e8e8e8;
}
a.btnl {
  width: 168px;
  height: 37px;
  background: #01b2e4 url("../images/arrow.png") no-repeat 3px 9px;
  float: left;
  text-align: center;
  line-height: 38px;
  color: white;
  display: block;
  text-decoration: none;
}
a.btn2 {
  background: url("../images/kkkkk.png") no-repeat 10px 6px;
  width: 176px;
  height: 38px;
  border: 1px solid #01b2e4;
  float: left;
  display: block;
  text-decoration: none;
  margin-left: 10px;
  text-align: center;
  line-height: 38px;
  color: #01b2e4;
}
a.btn2 {
  width: 165px;
  height: 35px;
  border: 1px solid #01b2e4;
  float: left;
  display: block;
  text-decoration: none;
  margin-left: 10px;
  text-align: center;
  line-height: 38px;
  color: #01b2e4;
}
.ad-gallery .ad-controls {
  height: 10px!important;
}

.ad-gallery .ad-thumbs li img {
  border: 0px solid #616161;
  width: 99px;
  height: 76px;
}
.ad-gallery .ad-nav .ad-thumbs {
  overflow: hidden;
  width: 86%;
  margin-left: 32px!important;
}
.ad-gallery .ad-thumbs .ad-thumb-list {
  float: left;
  width: 9000px;
  list-style: none;
  margin-top: 0px!important;
}
.ad-gallery .ad-thumbs li {
  float: left;
  padding-right: 11px!important;
}
.dr56 {
  float: left;
  width: 405px;
  margin-right: 30px;
  font-size: 12px;
}
.dr57 {
  float: left;
  width: 336px;
  margin-right: 34px;
  direction: rtl;
  font-size: 12px;
}
.dr56c {
  float: right;
  padding: 10px 8px 10px 0;
  width: 98%;
}
.koren {
  background: url("../images/koren.jpg") no-repeat -54px -1px;
  width: 125px;
  height: 51px;
  text-align: center;
  font-size: 16px;
  color: #C01313;
  line-height: 57px;
}
.tovcon {
  width: 100%;
  height: 352px;
  padding-top: 20px;
  padding-bottom: 7px;
  background: white;
  margin-top: -10px;
}
.tovarops {
  margin-top: 10px;
  float: right;
  direction: rtl;
}
.product_header {
  direction: rtl;
  border-bottom: 2px solid #f25035;
  color: #cc3333;
  margin-bottom: 27px;
}
.redlabel { background:url("../images/redlabel.png") no-repeat; width:59px ; height:48px ;
margin-top: -398px;
  position: relative;
  margin-left: 742px;
  z-index: 200;}

ul.lSPager { width: 5000px!important;margin-left: 28px!important;
  margin-top: -335px!important;}
ul.lSPager li { width:100px !important; height:77px ;  margin-right: 10px!important;} 
.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  height: 289px;
}
.lSAction > .lSPrev {
  background-position: 0 0!important;
  left:-3px!important;
    width: 27px!important;
  display: block;
  top: 50%;
  height: 73px!important;
  background-image: url('../lib/ad_prev.png')!important;
  opacity: 1!important;
}
.lSAction > .lSNext {
  background-position: -30px 0!important;
  right: -1px!important;
  width: 27px!important;
  display: block;
  top: 50%;
  height: 78px!important;
  background-image: url('../lib/ad_next.png')!important;
  opacity: 1!important;
}
.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  height: 638px!important;
}
ul.lSSlide { height: 288px!important;}


li.z1024on1420off { display: block;}
li.z1024off1420on {display: none;}
}
