/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.05.2015, 12:57:31
    Author     : Егор
*/
@media only screen and (min-width:1840px) {
.club {
  background: url(../images/club.png) no-repeat;
  width: 198px;
  height: 350px;
  top: 134px;
  right: 0px;
  margin-top: 51px;
  display: block;
}}
@media only screen and (max-width:1840px) {
.club {
  display: none;
}}

@media only screen and (min-width:1420px) {
ul.ulka li {
  margin-bottom: 15px;
}
.header {
width: 1440px;
  margin: 0 auto;
  height: 145px;
}
.block1 {
  background-image: url("../images/bg1.png");
  height: 145px;
  width: 100%;
}
.mainbar {
  width: 1420px;
  margin: 0 auto;
  height: 574px;
  padding-top: 20px;
}
.icn1 { width: 91px;background: url( "../images/top1420/icon1.png")no-repeat center 0px; padding-top: 39px; }
.icn2 { width: 82px;background: url( "../images/top1420/icon2.png")no-repeat center 0px; padding-top: 39px;  }
.icn3 {  width: 103px;background: url( "../images/top1420/icon3.png")no-repeat center 0px;padding-top: 39px;  }
.icn4 { width: 103px;background: url( "../images/top1420/icon4.png")no-repeat center 0px; padding-top: 39px; }
.icn5 { width: 89px;background: url( "../images/top1420/icon5.png")no-repeat center 0px; padding-top: 39px; }
.icn6 { width: 112px;background: url( "../images/top1420/icon6.png")no-repeat center 0px; padding-top: 39px;
       border-right: 1px solid #216cbf;  }
.icn {
  float: left;
  color: white;
  text-align: center;
  font-size: 16px;
  border-left: 1px solid #216cbf;
}
.reglinks {
  margin-right: 21px;
  font-size: 16px;
  margin-left: 57px;
  letter-spacing: 0.3px;
}
.phone {
    background: url("../images/phone.png") no-repeat 267px;
    width: 290px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin-top: -5px;
}
.line1 {
  padding-top: 20px;
    padding-left: 500px;
}
.line2 {
  margin-top: 28px;
  padding-left: 13px;
}

input.inputs {
  width: 454px;
  height: 40px;
  border: 0;
  margin-left: 71px;
  direction: rtl;
  padding: 3px;
  background: url("../images/lupa.png") no-repeat 8px 9px #e1efff;
  padding-right: 10px;
  margin-top: 6px;
}
.filter {
  width: 252px;
  font-size: 16px;
  height: 604px;
  background: #f25035;
  float: left;
  box-shadow: none;
}
.mainbar {
  width: 1420px;
  margin: 0 auto;
  height: 621px;
  padding-top: 23px;
}
.z1 { font-size: 22px;
font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 10px;



}
.z2 {
  width: 214px;
  height: 47px;
  background-color: #de4126;
  margin-left: 19px;
  margin-top: 12px;
  color: #eccec9;
}
.select-style {
  float: left;
  margin-top: 3px;
  margin-left: 3px;
  height: 36px;
  padding-right: 2px;
  padding-top: 5px;
  width: 154px;
  overflow: hidden;
  background-color: #e1efff;
  background: #e1efff url("../images/selectorr.png") no-repeat 7% 50%;
  color: #686868;
}

.texted {
  float: left;
  margin-left: 14px;
  margin-top: 7px;
  font-size: 22px;
}
.mr25 { margin-top: 25px;}
.mr23 { margin-top: 23px;}
.z3 {
  width: 183px;
  height: 99px;
  background-color: #de4126;
  padding: 15px;
  margin-left: 19px;
  margin-top: 19px;
}
.z3r {
  text-align: center;
  color: #eccec9;
  margin-bottom: 5px;
  font-size: 22px;
  margin-top: -9px;
}
.select-style1 {
  float: left;
  margin-top: 8px;
  margin-left: 4px;
  height: 34px;
  padding-right: 1px;
  padding-top: 5px;
  width: 86px;
  float: left;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  background: #e1efff url("../images/selectorr.png") no-repeat 7% 50%;
  
}
.select-style234 {
  float: left;
  margin-top: 3px;
  margin-left: 3px;
  height: 36px;
  padding-right: 2px;
  padding-top: 5px;
  width: 121px;
  overflow: hidden;
  background-color: #e1efff;
  background: #e1efff url("../images/selectorr.png") no-repeat 7% 50%;
}
.z4 {
  direction: rtl;
  text-align: center;
  color: #eccec9;
  margin-top: 59px;
  font-size: 22px;
}
a.z4lnk {
  display: block;
  width: 216px;
  height: 34px;
  padding-top: 12px;
  margin: 15px auto;
  background: #3db4f5;
  border-bottom: 5px solid #0099c3;
  font-size: 22px;
  line-height: 27px;
  transition: .5s all ease-in;
}

.c1420 { display: block;}
.v1420 { display: none;}
.banner {
  float: left;
  margin-left: 22px;
  width: 878px;
  height: 393px;
}
.banner img {
 width: 878px;
  height: 393px;   
}
.menu {
  float: left;
  margin-left: 27px;
  margin-top: -168px;
}
.f1 {
  height: 145px;
  width: 241px;
  background: #0066cc;
}

.f3 {
  width: 227px;
  height: 609px;
  border-top: 4px solid white;
  border-left: 7px solid white;
  border-right: 7px solid white;
  border-bottom: 8px solid white;
  background: #e1f5fd;
  position: relative;
  z-index: 3;
  margin-top: -21px;
}

.stt {
  color: white;
  font-size: 36px;
  font-weight: 700;
  padding-top: 83px;
  margin-left: 79px;
}
.f2 {
  background: url("../images/boy.png")no-repeat;
  height: 151px;
  width: 94px;
  margin-left: 133px;
  margin-top: -130px;
  position: relative;
  z-index: 4;
}
.mg11 { background: url( "../images/top1420/c1.png")no-repeat ; width: 125px; height: 146px; margin-right: 25px;}
.mg12 { background: url( "../images/top1420/c2.png")no-repeat ; width: 125px; height: 160px; margin-right: 25px;}
.mg13{ background: url( "../images/top1420/c3.png")no-repeat ; width: 125px; height: 157px; margin-right: 25px;}
.mg14 { background: url( "../images/top1420/c4.png")no-repeat ; width: 125px; height: 149px; margin-right: 26px;}
.mg15 { background: url( "../images/top1420/c5.png")no-repeat ; width: 125px; height: 151px; margin-right: 26px;}
.mg16 { background: url( "../images/top1420/c6.png")no-repeat ; width: 125px; height: 151px; }
.wrapper {
  margin: 0 auto;
  width: 1420px;
}
.block3 {
  background: #f0f1f3;
  padding-top: 21px;
  padding-bottom: 30px;
  background-image:url( "../images/bg3.jpg")
}
ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 25px 28px;
  cursor: pointer;
  font-size: 22px;
}
.bloker {
  width: 335px;
  height: 398px;
  float: left;
  margin-right: 25px;
  background: white;
}

.clearright {
  margin-right: 0!important;
}
.stt1 {
  padding-top: 26px;
  text-align: right;
  padding-left: 116px;
}
.stt1 br { display: none;}
ul.tabs { margin-right: 5px;}
a.selected {
  display: block;
  background: url("../images/top1420/active.png")no-repeat 29px;
  width: 244px;
  height: 28px;
  color: white!important;
  padding-right: 28px;
  margin-right: -28px;
}
.stt1 a {
  color: #9c2317;
  text-decoration: none;
  font-size: 16px;
  background: url("../images/bl.png")no-repeat 80px;
  display: block;
  width: 73px;
  padding-right: 27px;
  margin-bottom: 7px;
}
.separ {
  height: 1px;
  background-color: #cbdee5;
  width: 100%;
  margin-top: 22px;
}
.row2 {
  font-size: 14px;
}
.row1 {
  margin-top: 7px;
  font-size: 18px;
}
.row3, .row4 {
  font-size: 18px;
}
.spr {
  height: 1px;
  background-color: #c5cfd2;
  margin-top: 27px;
  margin-left: 10px;
  margin-right: 10px;
}
.row1 {
  margin-top: 8px;
  font-size: 18px;
}
.row1, .row2, .row3, .row4 {
  direction: rtl;
  padding-right: 18px;
}
a.addtocarttext {
  background: url("../images/kolyaska.png")no-repeat 23px 69px;
  display: block;
  padding-top: 3px;
  padding-bottom: 6px;
}
.overlay {
  background: #00b3e4;
  text-align: center;
  padding: 62px 0 0px 0;
  opacity: 0;
  -webkit-transition: opacity 0.01s ease;
  -moz-transition: opacity .25s ease;
  margin-top: -119px;
}
.overlay img {
     margin-left: -235px;
  margin-bottom: -3px; 
    
    
}
.lblnews {
  direction: rtl;
  width: 164px;
  height: 35px;
  float: right;
  background-color: #01b2e4;
  padding-right: 11px;
  color: white;
  margin-bottom: 33px;
  padding-top: 10px;
  font-size: 22px;
  line-height: 21px;
  margin-right: 4px;
  margin-top: 17px;
}

.addtocarttxts { display: block;}

.obertka {
      width: 1400px;
  margin: 0 auto;
}
.clearright1420 {
  margin-right: 0!important;
}
.foo1 {
  float: right;
  padding-top: 40px;
  font-weight: bold;
  font-size: 16px;
}
ul.foos {
  list-style-type: none;
  direction: rtl;
  font-size: 16px;
}
.h1 {
  font-size: 16px;
  line-height: 56px;
  float: left;
}
.wrp {
  width: 1420px;
  margin: 45px auto;
  height: 60px;
  color: white;
}
.dopfoos { padding: 0!important;}
.dopfooblock { width: 187px;}
.foo1 {
  float: right;
  padding-top: 36px;
  font-weight: bold;
  font-size: 16px;
}

ul.foos {margin-top: -24px;}

.foolinks {
  float: right;
  margin-top: 37px;
}
.footer {
  background: url("../images/footer.jpg") center;
  height: 561px; }
.new1 {
  width: 335px;
  height: 161px;
  background: white;
  float: left;
  margin-right: 25px;
}
.clearright {
  margin-right: 0;
}
.textv {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 16px;
}
.txtblue {
  float: left;
  direction: rtl;
  width: 214px;
  font-size: 14px;
  padding-top: 23px;
  margin-left: 10px;
}
.lblnews1 {
  direction: rtl;
  width: 164px;
  height: 33px;
  float: right;
  background-color: #37953d;
  padding-right: 11px;
  color: white;
  margin-bottom: 27px;
  margin-top: 32px;
  padding-top: 10px;
  font-size: 22px;
  line-height: 21px;
  margin-right: 4px;
}
.vdblc {
  width: 335px;
  margin-right: 25px;
  float: left;
  position: relative;
}
.lblnews2 {
  direction: rtl;
  width: 160px;
  height: 35px;
  float: right;
  background-color: #c9ab07;
  font-size: 22px;
  line-height: 21px;
  padding-right: 11px;
  color: white;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-top: 10px;
  margin-right: 4px;
}
.sliderblocksss {
  background: white;
  margin-right: 4px;
}
.dopn88 { width: 250px;}
@-moz-document url-prefix() { 
  .phone {
    background: url("../images/phone.png") no-repeat scroll 259px center transparent;
    width: 283px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin-top: -5px;
}
.reglinks {
    margin-right: 21px;
    font-size: 16px;
    margin-left: 40px;
    letter-spacing: 0.3px;
}
.footer { margin-top: -45px;
margin-bottom: -45px;}


}
.h2 img { display: none;}
.h2 { background: url('../images/1420s.png'); width:648px; height: 55px;float: left;
  margin-top: 0px;
  margin-left: 87px; }


/* PRODUCT CSS START */ 

.lvl1 {
  background-color: #0066cc;
  height: 145px;
  line-height: 216px;
  padding-left: 81px;
  color: white;
  font-size: 36px;
  position: relative;
  z-index: 2;
  font-weight: 700;
}
.lvl2 {
  height: 41px;
  background: #e1efff;
  position: relative;
  z-index: 2;
}
.searchfield .inputs {
  font-size: 16px;
  color: #3062d0!important;
  font-weight: 600;
  font-family: 'Open_heb';
}
.lvl3 {
  background: url("../images/boy.png")no-repeat;
  height: 161px;
  width: 94px;
  margin-top: -171px;
  margin-left: 135px;
  position: relative;
  z-index: 4;
}
.wrp1300 {
  margin: 0 auto;
width: 1437px;
}
a.lvl4 {
  background: url("../images/btnccx.jpg")no-repeat;
  width: 243px;
  height: 54px;
  margin-top: 20px;
  display: block;
}
.con1300 {
  margin: 0 auto;
  width: 1420px;
  padding-top: 20px;
}
.leftproduct {
  float: left;
  width: 271px;
}
.product_header {
  direction: rtl;
  border-bottom: 3px solid #f25035;
  color: #b63722;
  margin-bottom: 20px;
  font-size: 22px;
}
.bloker1 {
  width: 271px;
  height: 342px;
  float: left;
  background: white;
  margin-bottom: 7px;
}
.lv {
  text-align: center;
  padding-top: 14px;
}
.spr_product {
  height: 1px;
  background-color: #c5cfd2;
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 10px;
}
.addtocarttext_product { margin-top: 12px;}
.addtocarttext_product .row3 {
  margin-top: 15px;
}
.addtocarttext_product .row4 {
      margin-top: -3px;
}
.rightproduct {
  float: left;
  width: 1126px;
  margin-left: 22px;
}
.ltovar {
  float: left;
  width: 587px;
}
.pow1name {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 13px;
  font-size: 28px;
  font-weight: 600;
  direction: rtl;
}
.tovar {
  background: #f3f3f3;
  height: 539px;
  width: 100%;
}
.pow2t {
  font-size: 18px;
  color: #ff6633;
  margin-top: 7px;
  margin-bottom: 7px;
}
.pow3t { font-size: 18px;}
.pow2row1 input {
  width: 90px;
  height: 31px;
  text-align: center;
  font-size: 21px;
  box-shadow: inset 0px 0px 26px 10px rgba(172, 170, 170, 0.5);
-moz-box-shadow: inset 0px 0px 26px 10px rgba(172, 170, 170, 0.5);
-webkit-box-shadow: inset 0px 0px 26px 10px rgba(172, 170, 170, 0.5);
border: 1px solid #bbbbbb;
padding-right: 10px;
}
  .pow2 {
  padding-top: 14px;
  margin-right: 26px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-left: 26px;
  font-size: 18px;
}
.colorlabel { float: right; font-weight: 700; color:#4b4b4b; font-size: 15px; padding-top: 3px;
  margin-left: 10px;}
.colorsselect { float: right; margin-left: 30px;}
.button input[type="radio"] {
    display: none;
}
#banner-fade { display: none;}
.button { float: left;}
.greyc { background:url("../images/colors/grey.jpg") no-repeat center; width: 21px;
  height: 21px;
  display: block;
  border: 1px solid #bbbbbb;
  padding: 2px; }
.bluec {
  background: url("../images/colors/blue.jpg") no-repeat center;
  width: 21px;
  height: 21px;
  display: block;
  border: 1px solid #bbbbbb;
  padding: 2px;
}
.violetc { background:url("../images/colors/violet.jpg") no-repeat center;width: 21px;
  height: 21px;
  display: block;
  border: 1px solid #bbbbbb;
  padding: 2px; }
.pinkc { background:url("../images/colors/pink.jpg") no-repeat center; width: 21px;
  height: 21px;
  display: block;
  border: 1px solid #bbbbbb;
  padding: 2px; }
input[type="radio"]:checked + label {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #d2d2d2; 
    width: 21px; height: 21px;
}

.clear { clear: both;}
.button { margin-left: 7px;}
.powbtn {
  float: right;
  margin-top: 37px;
}
a.btnl {
  width: 190px;
  height: 40px;
  background: #01b2e4 url("../images/arrow.png") no-repeat 3px 9px;
  float: left;
  text-align: center;
  line-height: 38px;
  color: white;
  display: block;
  text-decoration: none;
}
a.btn2 {
    background:  url("../images/kkkkk.png") no-repeat 10px 9px;
  width: 188px;
  height: 38px;
  border: 1px solid #01b2e4;
  float: left;
  display: block;
  text-decoration: none;
  margin-left: 10px;
  text-align: center;
  line-height: 38px;
  color: #01b2e4;
}
.rtovar {
  float: left;
    width: 536px;
  border-left: 1px solid #d2dadc;
  height: 539px;
  background: #e7e7e7;
}
.ad-gallery {
  width: 537px!important;
}
.ad-gallery .ad-image-wrapper {
  width: 100%;
  height: 400px!important;
  position: relative;
  overflow: hidden;
}
.ad-gallery .ad-thumbs li img {
  border: 0px solid #616161;
  width: 141px;
  height: 106px;
}
.ad-gallery .ad-thumbs li {
  float: left;
  padding-right: 14px!important;
}
.ad-gallery .ad-nav .ad-thumbs {
  overflow: hidden;
  width: 86%!important;
  margin-left: 31px;
}
.ad-gallery .ad-controls {
  height: 9px!important;
}
.ad-gallery .ad-back {
  cursor: pointer;
  left: 0px;
  width: 27px;
  display: block;
  background: url(ad_scroll_back.png) 0px 0px no-repeat;
  margin-top: 24px;
}
.ad-gallery .ad-forward {
  cursor: pointer;
  display: block;
  right: 0px;
  width: 27px;
  height: 77px;
  background: url(ad_scroll_forward.png) 0px 0px no-repeat;
  margin-top: 20px;
}
.koren {
  background: url("../images/koren.jpg") no-repeat;
  width: 179px;
  height: 71px;
  text-align: center;
  font-size: 20px;
  color: #C01313;
  line-height: 57px;
}
.tovcon {
  width: 100%;
  height: 413px;
  padding-top: 37px;
  padding-bottom: 20px;
  background: white;
  margin-top: -10px;
}
.greys {
  background: #f3f3f3;
}
.dr56c {
  float: right;
  padding: 11px 10px 11px 0;
  width: 98.1%;
}
.productwrp {
  background: #e2f0f3;
  height: 1300px;
}
.redlabel { background:url("../images/redlabel.png") no-repeat; width:59px ; height:48px ;
margin-top: -544px;
  position: relative;
  margin-left: 1061px;
  z-index: 200;}


.dr56 {
  float: left;
  width: 562px;
  margin-right: 44px;
}
ul.lSPager { width: 5000px!important;margin-left: 42px!important;
  margin-top: -217px!important;}
ul.lSPager li { width:140px !important; height:106px ;  margin-right: 18px!important;} 
.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  height: 769px;
}
.lSAction > .lSPrev {
  left:-3px!important;
    width: 27px!important;
  display: block;
  top: 71%;
  height: 73px!important;
  background-image: url('../lib/ad_prev.png')!important;
  opacity: 1!important;
}
.lSAction > .lSNext {
  right: -1px!important;
  width: 27px!important;
  display: block;
  top: 68%;
  height: 111px!important;
    background: #e7e7e7 url('../lib/ad_next.png') -3px 16px no-repeat !important;
  opacity: 1!important;
}
.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  height: 638px!important;
}
ul.lSSlide { height: 406px!important;}

.clearfix { max-width: 100%!important;}

li.z1024on1420off { display:none;}
li.z1024off1420on { display: block;}



}