@media screen and (min-width: 0) and (max-width: 620px) {
    body{
        min-width: 320px !important;
    }
    ul.ulka li:nth-child(1) {
        margin-right: 16px;
    }
    ul.ulka li:nth-child(8) {
        margin-right: 25px;
    }

  .offer320 { display: none;}
    
    .row4 span { font-size: 10px!important; }
    
    #showLeft {background:url("../images/gumburger.png") no-repeat ; width: 16px ; height: 13px ; border: 0;}
    
    
    a.searchfield {background: url("../images/searchb.png") no-repeat ; width: 11px ; height: 11px ; display: block;
    margin-bottom: 2px;} 
    .searchfield input { display: none;}
    .S6 { border-left: 0px!important;}
.block1 {
  background-image: url("../images/bg1.png");
  height: 69px;
  width: 100%;
}
.header {
  width: 300px;
  margin: 0 auto;
  height: 79px;
}
.line1 {
  padding-top: 18px;
  padding-left: 10px;
  font-size: 11px;
}
.phone {
  background: url("../images/phone.png") no-repeat 137px;
  width: 156px;
  background-size: 16px;
  float: none;
    margin-left: 65px;
}

.clloselef {
    width: 40px;
  margin: 0 auto;
    padding-top: 5px;
    color:white;
}
.linewww { margin-top: 10px; height: 1px; background: white; margin-bottom: 10px;}

.icn {
  float: none;
  color: white;
  text-align: center;
  font-size: 10px;
  border:0;
}
.icn1 {
  width: 115px;
  background: url("../images/icon1.png")no-repeat center 0px;
  padding-top: 0px;
  /* background-size: 0; */
   background:none;
     width: 100%;
}
.icn2 {
  width: 70px;
  background: url("../images/icon2.png")no-repeat center 0px;
  padding-top: 27px;
   background:none;
     width: 100%;
      padding-top: 0px;
}
.icn3 {
  width: 113px;
  background: url("../images/icon3.png")no-repeat center 0px;
  padding-top: 27px;
  background:none;
  width: 100%;
 padding-top: 0px;
}
.icn4 {
  width: 73px;
  background: url("../images/icon4.png")no-repeat center 0px;
  padding-top: 27px;
   background:none;
     width: 100%;
      padding-top: 0px;
}
.icn5 {
  width: 120px;
  background: url("../images/icon5.png")no-repeat center 0px;
  padding-top: 27px;
   background:none;
     width: 100%;
      padding-top: 0px;
}
.icn6 {
  width: 49px;
  background: url("../images/icon6.png")no-repeat center 0px;
  padding-top: 27px;
  border-right: 0;
   background:none;
     width: 100%;
      padding-top: 0px;
}
input.inputs {
  width: 188px;
  height: 27px;
  border: 0;
  margin-left: 37px;
  direction: rtl;
  padding: 3px;
    background: url("../images/lupa.png") no-repeat 6px 9px #e1efff;
  background-size: 16px;
}
.icons { padding-top: 20px; }
.line2 {
    margin-top: -31px;
}
.off620 { display: none;}
.on620block2 { display: block;}
.menu {
  float: none;
  margin-left: 0px;
  margin-top: 0px;
}
ul.ulka {
  list-style-type: none;
  direction: rtl;
  padding: 0;
  padding-right: 0px;
  font-size: 12px;
}
.obertka { width: 300px; margin: 0 auto;}
.block2 {margin-top: 21px;background-size: cover;}
.floatright { float: right;  height: 10px;}
    .f2 {
        background: transparent url("../images/boy.png") no-repeat scroll 55px 29px / 34px auto;
        height: 82px;
        width: 94px;
        margin-left: -29px;
        position: relative;
        z-index: 2;
        margin-top: -87px;
    }
.f1 {
  height: 80px;
  width: 60px;
  background: #0066cc;
    margin-top: -80px;
}
.stt {
  color: white;
  font-size: 13px;
  font-weight: 700;
  padding-top: 58px;
  margin-left: 7px;
}
.reglinks {
  margin-right: 21px;
  margin-left: 32px;
  float: none;
  margin-top: 3px;
}
.f3 {
  width: 100%;
  height: 124px;
  border-top: 4px solid white;
  border-left: 0px solid white;
  border-right: 0px solid white;
  border-bottom: 8px solid white;
  background: #e1f5fd;
  position: relative;
  z-index: 1;
  margin-top: -21px;
}
.stt1 a {
  color: #cc3333;
  text-decoration: none;
  font-size: 12px;
  background: url("../images/bl.png")no-repeat 49px;
  display: block;
  width: 45px;
  padding-right: 15px;
  float: right;
  background-size: 10px;
}
.stt1 {
  padding-top: 11px;
  text-align: right;
  padding-left: 0px;
    padding-right:0px;
}
.separ {
  height: 1px;
  background-color: #cbdee5;
  width: 100%;
  margin-top: 4px;
}
ul.ulka li {
  margin-bottom: 10px;
  float: right;
  margin-left: 3px;
  border-left: 1px solid #ccc;
  display: block;
  padding-left: 3px;
  font-size: 12px;
}
.filter {
  width: 100%;
  height: 331px;
 
  float: none;
  margin: 10px auto;
  padding-left: 0px;
  padding-right: 0px;
}
.groupf { float:none;width: 246px;
  margin: 0 auto;}
.z3 { float: none;}
.groupff {
  float: none;
  width: 246px;
  margin: 0 auto;
}
.z2 {
  width: 246px;
  height: 32px;
     margin-left: 0px;
  margin-top: 8px;
  color: white;
}
.select-style {
  float: left;
  margin-top: 3px;
  margin-left: 3px;
  height: 26px;
  padding-right: 2px;
  padding-top: 0px;
  width: 179px;
  overflow: hidden;
  background-color: #fff;
  background: #e1efff url("../images/selectorr.png") no-repeat 7% 50%;
  background-size: 15px;
}
.texted {
  float: left;
  margin-left: 8px;
  margin-top: 5px;
  color: #eccec9;
}
.mr30 {
  margin-top: 6px;
}

.z3 {
  width: 165px;
  height: 71px;
 
  padding: 11px;
  margin-left: 17px;
  margin-top: 17px;
}
a.z4lnk {
  display: block;
  width: 158px;
  height: 36px;
  padding-top: 12px;
  margin: 15px auto;
  background: #00c0f5;
  border-bottom: 5px solid #0099c3;
}
.groupff .z2 {margin-left: 0px;}
.z4 {
  direction: rtl;
  text-align: center;
  color: white;
  margin-top: 2px;
  font-size: 13px;
  color: #eccec9;
}
.z1 {
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 18px;
  margin-bottom: 7px;
}
.select-style1 {
  float: left;
  margin-top: 3px;
  margin-left: 21px;
  height: 32px;
  padding-right: 2px;
  padding-top: 5px;
  width: 77px;
  float: left;
  overflow: hidden;
  background-color: #fff;
  background: #e1efff url("../images/selectorr.png") no-repeat 7% 50%;
}
a.z4lnk {
  display: block;
  width: 147px;
  height: 26px;
  padding-top: 8px;
  margin: 4px auto;
  background: #00c0f5;
  border-bottom: 5px solid #0099c3;
  font-size: 20px;
  line-height: 20px;
  transition: .5s all ease-in;
  color: white;
}
.vuuuuuu {
  display: block;
}
.z3 {
  width: 223px;
  height: 71px;
 
  padding: 11px;
  margin-left: 0px;
  margin-top: 17px;
  margin-right: 0px;
  margin: 0 auto;
}
.banner {
  float: none;
  margin-left: 0px;
  width: 300px;
  margin: 0 auto;
}

.banner img {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.fltrs { width: 300px;}
.mg11 {
  background: url("../images/c1.png")no-repeat -8px;
  width: 83px;
  height: 106px;
  margin-right: 25px;
  background-size: 96px;
}
.mg12 {
  background: url("../images/c2.png")no-repeat -8px;
  width: 83px;
  height: 116px;
  margin-right: 26px;
  background-size: 96px;
}
.mg13 {
  background: url("../images/c3.png")no-repeat -8px;
  width: 83px;
  height: 116px;
  margin-right: 16px;
  background-size: 96px;
}
.mg14 { background: url( "../images/c4.png")no-repeat -8px; width: 83px; height: 99px; margin-right: 25px;background-size: 96px;}
.mg15 { background: url( "../images/c5.png")no-repeat -8px; width: 83px; height: 101px; margin-right: 26px;background-size: 96px;}
.mg16 { background: url( "../images/c6.png")no-repeat -8px; width: 83px; height: 101px;background-size: 96px; }
.none {
  display: block;
}
.wrapper {
  margin: 0 auto;
  width: 300px;
}
.bloker123 {
  float: left;
  margin-top: -6px;
  width: 143px;
}
ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 11px;
  cursor: pointer;
    font-size: 13px;
}
.bloker {
  width: 143px;
  height: 263px;
  float: left;
  margin-right: 14px;
  background: white;
  margin-bottom: 10px;
}
.footer {
  background: url("../images/footer.jpg") center no-repeat cover;
  height: 300px;
}
a.foo11 {
  text-decoration: none;
  color: white;
  margin-right: 18px;
    font-size: 12px;
}
.lv img { height: 122px;}
.row1 {
  margin-top: 7px;
  font-size: 12px;
}
.row2 {
  font-size: 8px;
}
.row3, .row4 {
  font-size: 10px;
}
.clearright {
  margin-right: 0!important;
}
.lops { margin-right: 14px;}

.new1 {
  width: 300px;
  height: 148px;
  background: white;
  float: none;
  margin-right: 0px;
  margin-bottom: 20px;
}
.fgh {
  background: #cce7ee;
}
.txtblue {
  float: left;
  direction: rtl;
  width: 172px;
  font-size: 11px;
  padding-top: 26px;
  margin-left: 10px;
}
.vdblc iframe { width: 300px;}
.vdblc {
  width: 300px;
  margin-right: 0px;
  float: left;
  margin-bottom: 20px;
}
.foolinks {
  float: none;
  margin-top: 30px;
  font-size: 10px;
  width: 279px;
  margin: 30px auto;
}
.fooblock {
  height: 120px;
  border-left: 1px solid #3272bf;
  width: 139px;
  float: left;
  margin-bottom: 27px;
}
.foo1
{
    text-align: right;
}
.wrp {
  width: 300px;
  margin: 45px auto;
  height: 110px;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 0;
  padding-top:10px;
}

.h1 {
  font-size: 12px;
  line-height: 36px;
  float: none;
  text-align: center;
}
.h2 img { width: 300px;}
.h2 {
  float: left;
  margin-top: 7px;
  margin-left: 0px;
}
.clearright2 { margin-right: 0;}
.off320 { display: none;}
.on320 { display: block;}

.clearborder { border: 0;}

a.addtocarttext {
  background: url("../images/kolyaska.png")no-repeat 15px 59px;
  display: block;
  padding-top: 3px;
  padding-bottom: 6px;
  background-size: 26px;
}


a.addtocarttext {
  background: url("../images/kolyaska.png")no-repeat 15px 54px;
  display: block;
  padding-top: 3px;
  padding-bottom: 6px;
  background-size: 29px;
}
.select-style select {
  padding: 3px 15px; }



    .vuuuuuu {
        display: block;
        padding-bottom: 20px;
    }

    .overlay {
        background: #00b3e4;
        text-align: center;
        padding: 32px 0px 0;
        opacity: 0;
        -webkit-transition: opacity 0.1s ease;
        -moz-transition: opacity 0.1s ease;
        transition: opacity 0.1s ease;
        margin-top: -89px;
        height: 63px;
    }
    .overlay img {
        margin-top: 19px;
        margin-left: -85px;
        width: 32%;
    }
}



@-moz-document url-prefix() { 
  a.foo11 {
  color: white;
  font-size: 12px;
  margin-right: 12px;
  text-decoration: none;
}
.foo1 {
  text-align: left;
}
.footer {margin-top: -45px;}

}


