@media screen and (min-width: 0) and (max-width: 619px) {

  .offer320 { display: none;}
    
    .row4 span { font-size: 10px!important; }
    
    #showLeft {background:url("../images/gumburger.png") no-repeat ; width: 16px ; height: 13px ; border: 0;}
    
    
    a.searchfield {background: url("../images/searchb.png") no-repeat ; width: 11px ; height: 11px ; display: block;
    margin-bottom: 2px;} 
    .searchfield input { display: none;}
    .S6 { border-left: 0px!important;}
.block1 {
  background-image: url("../images/bg1.png");
  height: 69px;
  width: 100%;
}
.header {
  width: 300px;
  margin: 0 auto;
  height: 79px;
}
.line1 {
  padding-top: 18px;
  padding-left: 10px;
  font-size: 11px;
}
.phone {
  background: url("../images/phone.png") no-repeat 137px;
  width: 156px;
  background-size: 16px;
  float: none;
    margin-left: 65px;
}

.clloselef {
    width: 40px;
  margin: 0 auto;
    padding-top: 5px;
    color:white;
}
.linewww { margin-top: 10px; height: 1px; background: white; margin-bottom: 10px;}

.icn {
  float: none;
  color: white;
  text-align: center;
  font-size: 10px;
  border:0;
}
.icn1 {
  width: 115px;
  background: url("../images/icon1.png")no-repeat center 0px;
  padding-top: 0px;
  /* background-size: 0; */
   background:none;
     width: 100%;
}
.icn2 {
  width: 70px;
  background: url("../images/icon2.png")no-repeat center 0px;
  padding-top: 27px;
   background:none;
     width: 100%;
      padding-top: 0px;
}
.icn3 {
  width: 113px;
  background: url("../images/icon3.png")no-repeat center 0px;
  padding-top: 27px;
  background:none;
  width: 100%;
 padding-top: 0px;
}
.icn4 {
  width: 73px;
  background: url("../images/icon4.png")no-repeat center 0px;
  padding-top: 27px;
   background:none;
     width: 100%;
      padding-top: 0px;
}
.icn5 {
  width: 120px;
  background: url("../images/icon5.png")no-repeat center 0px;
  padding-top: 27px;
   background:none;
     width: 100%;
      padding-top: 0px;
}
.icn6 {
  width: 49px;
  background: url("../images/icon6.png")no-repeat center 0px;
  padding-top: 27px;
  border-right: 0;
   background:none;
     width: 100%;
      padding-top: 0px;
}
input.inputs {
  width: 188px;
  height: 27px;
  border: 0;
  margin-left: 37px;
  direction: rtl;
  padding: 3px;
    background: url("../images/lupa.png") no-repeat 6px 9px #e1efff;
  background-size: 16px;
}
.icons { padding-top: 20px; }
.line2 {
    margin-top: -31px;
}
.off620 { display: none;}
.on620block2 { display: block;}
.menu {
  float: none;
  margin-left: 0px;
  margin-top: 0px;
}
ul.ulka {
  list-style-type: none;
  direction: rtl;
  padding: 0;
  padding-right: 0px;
  font-size: 12px;
    margin-top: 12px;
}
.obertka { width: 300px; margin: 0 auto;}
.block2 {margin-top: 21px;background-size: cover;}
.floatright { float: right;  height: 10px;}
    .f2 {
        background: transparent url("../images/boy.png") no-repeat scroll 55px 29px / 34px auto;
        height: 82px;
        width: 94px;
        margin-left: -29px;
        position: relative;
        z-index: 2;
        margin-top: -87px;
    }
.f1 {
  height: 80px;
  width: 60px;
  background: #0066cc;
    margin-top: -80px;
}
.stt {
  color: white;
  font-size: 13px;
  font-weight: 700;
  padding-top: 58px;
  margin-left: 7px;
}
.reglinks {
  margin-right: 21px;
  margin-left: 32px;
  float: none;
  margin-top: 3px;
}
.f3 {
  width: 100%;
  height: 124px;
  border-top: 4px solid white;
  border-left: 0px solid white;
  border-right: 0px solid white;
  border-bottom: 8px solid white;
  background: #e1f5fd;
  position: relative;
  z-index: 1;
  margin-top: -21px;
}
.stt1 a {
  color: #cc3333;
  text-decoration: none;
  font-size: 12px;
  background: url("../images/bl.png")no-repeat 49px;
  display: block;
  width: 45px;
  padding-right: 15px;
  float: right;
  background-size: 10px;
}
.stt1 {
  padding-top: 11px;
  text-align: right;
  padding-left: 0px;
    padding-right:0px;
}
.separ {
  height: 1px;
  background-color: #cbdee5;
  width: 100%;
  margin-top: 4px;
}
ul.ulka li {
  margin-bottom: 10px;
  float: right;
  margin-left: 3px;
  border-left: 1px solid #ccc;
  display: block;
  padding-left: 3px;
  font-size: 12px;
}
.filter {
  width: 100%;
  height: 331px;
 
  float: none;
  margin: 10px auto;
  padding-left: 0px;
  padding-right: 0px;
}
.groupf { float:none;width: 246px;
  margin: 0 auto;}
.z3 { float: none;}
.groupff {
  float: none;
  width: 246px;
  margin: 0 auto;
}
.z2 {
  width: 246px;
  height: 32px;
     margin-left: 0px;
  margin-top: 8px;
  color: white;
}
.select-style {
  float: left;
  margin-top: 3px;
  margin-left: 3px;
  height: 26px;
  padding-right: 2px;
  padding-top: 0px;
  width: 179px;
  overflow: hidden;
  background-color: #fff;
  background: #e1efff url("../images/selectorr.png") no-repeat 7% 50%;
  background-size: 15px;
}
.texted {
  float: left;
  margin-left: 8px;
  margin-top: 5px;
  color: #eccec9;
}
.mr30 {
  margin-top: 6px;
}

.z3 {
  width: 165px;
  height: 71px;
 
  padding: 11px;
  margin-left: 17px;
  margin-top: 17px;
}
a.z4lnk {
  display: block;
  width: 158px;
  height: 36px;
  padding-top: 12px;
  margin: 15px auto;
  background: #00c0f5;
  border-bottom: 5px solid #0099c3;
}
.groupff .z2 {margin-left: 0px;}
.z4 {
  direction: rtl;
  text-align: center;
  color: white;
  margin-top: 2px;
  font-size: 13px;
  color: #eccec9;
}
.z1 {
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 18px;
  margin-bottom: 7px;
}
.select-style1 {
  float: left;
  margin-top: 3px;
  margin-left: 21px;
  height: 32px;
  padding-right: 2px;
  padding-top: 5px;
  width: 77px;
  float: left;
  overflow: hidden;
  background-color: #fff;
  background: #e1efff url("../images/selectorr.png") no-repeat 7% 50%;
}
a.z4lnk {
  display: block;
  width: 147px;
  height: 26px;
  padding-top: 8px;
  margin: 4px auto;
  background: #00c0f5;
  border-bottom: 5px solid #0099c3;
  font-size: 20px;
  line-height: 20px;
  transition: .5s all ease-in;
  color: white;
}
.vuuuuuu {
  display: block;
}
.z3 {
  width: 223px;
  height: 71px;
 
  padding: 11px;
  margin-left: 0px;
  margin-top: 17px;
  margin-right: 0px;
  margin: 0 auto;
}
.banner {
  float: none;
  margin-left: 0px;
  width: 300px;
  margin: 0 auto;
}

.banner img {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.fltrs { width: 300px;}
.mg11 {
  background: url("../images/c1.png")no-repeat -8px;
  width: 83px;
  height: 106px;
  margin-right: 25px;
  background-size: 96px;
}
.mg12 {
  background: url("../images/c2.png")no-repeat -8px;
  width: 83px;
  height: 116px;
  margin-right: 26px;
  background-size: 96px;
}
.mg13 {
  background: url("../images/c3.png")no-repeat -8px;
  width: 83px;
  height: 116px;
  margin-right: 16px;
  background-size: 96px;
}
.mg14 { background: url( "../images/c4.png")no-repeat -8px; width: 83px; height: 99px; margin-right: 25px;background-size: 96px;}
.mg15 { background: url( "../images/c5.png")no-repeat -8px; width: 83px; height: 101px; margin-right: 26px;background-size: 96px;}
.mg16 { background: url( "../images/c6.png")no-repeat -8px; width: 83px; height: 101px;background-size: 96px; }
.none {
  display: block;
}
.wrapper {
  margin: 0 auto;
  width: 300px;
}
.bloker123 {
  float: left;
  margin-top: -6px;
  width: 143px;
}
ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 11px;
  cursor: pointer;
    font-size: 13px;
}
.bloker {
  width: 143px;
  height: 263px;
  float: left;
  margin-right: 14px;
  background: white;
  margin-bottom: 10px;
}
.footer {
  background: url("../images/footer.jpg") center no-repeat cover;
  height: 300px;
}
a.foo11 {
  text-decoration: none;
  color: white;
  margin-right: 18px;
    font-size: 12px;
}
.lv img { height: 122px;}
.row1 {
  margin-top: 7px;
  font-size: 12px;
}
.row2 {
  font-size: 8px;
}
.row3, .row4 {
  font-size: 10px;
}
.clearright {
  margin-right: 0!important;
}
.lops { margin-right: 14px;}

.new1 {
  width: 300px;
  height: 148px;
  background: white;
  float: none;
  margin-right: 0px;
  margin-bottom: 20px;
}
.fgh {
  background: #cce7ee;
}
.txtblue {
  float: left;
  direction: rtl;
  width: 172px;
  font-size: 11px;
  padding-top: 26px;
  margin-left: 10px;
}
.vdblc iframe { width: 300px;}
.vdblc {
  width: 300px;
  margin-right: 0px;
  float: left;
  margin-bottom: 20px;
}
.foolinks {
  float: none;
  margin-top: 30px;
  font-size: 10px;
  width: 279px;
  margin: 30px auto;
}
.fooblock {
  height: 120px;
  border-left: 1px solid #3272bf;
  width: 139px;
  float: left;
  margin-bottom: 27px;
}
.foo1
{
    text-align: right;
}
.wrp {
  width: 300px;
  margin: 45px auto;
  height: 110px;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 0;
  padding-top:10px;
}

.h1 {
  font-size: 12px;
  line-height: 36px;
  float: none;
  text-align: center;
}
.h2 img { width: 300px;}
.h2 {
  float: left;
  margin-top: 7px;
  margin-left: 0px;
}
.clearright2 { margin-right: 0;}
.off320 { display: none;}
.on320 { display: block;}

.clearborder { border: 0;}

a.addtocarttext {
  background: url("../images/kolyaska.png")no-repeat 15px 59px;
  display: block;
  padding-top: 3px;
  padding-bottom: 6px;
  background-size: 26px;
}
#overlay {
  background: #00b3e4;
  text-align: center;
  padding: 25px 0 0px 0;
  opacity: 0;
  -webkit-transition: opacity 0.01s ease;
  -moz-transition: opacity .25s ease;
  margin-top: -89px;
}
#overlay img {
 margin-left: -82px;
  margin-bottom: -50px;
  width: 45px;
}
a.addtocarttext {
  background: url("../images/kolyaska.png")no-repeat 15px 54px;
  display: block;
  padding-top: 3px;
  padding-bottom: 6px;
  background-size: 29px;
}
.select-style select {
  padding: 3px 15px; }
}
@-moz-document url-prefix() { 
  a.foo11 {
  color: white;
  font-size: 12px;
  margin-right: 12px;
  text-decoration: none;
}
.foo1 {
  text-align: left;
}


}



/*=======================================================================================================================*/
/*=======================================================================================================================*/
/*=======================================================================================================================*/
@media screen and (min-width: 0) and (max-width: 619px) {
    .block1.on320.product-header{
        display: block;
    }
    .wrp1300 {
        width: 300px;
    }
    .lvl1 {
        padding-left: 10px;
    }
    .pocik {
        width: 120px;
        position: relative;
        z-index: 22;
    }
    a.lvl4 {
        width: 120px;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .lvl3 {
        padding-left: 0;
        -webkit-background-size: 66%;
        background-size: 66%;
        margin-left: 31px;
        background-position: 24px center;
    }
    .con1300 {
        width: 300px;
    }
    .rightproduct {
        margin-left: 0;
        width: 100%;
    }
    .ltovar {
        width: 50%;
    }
    .rtovar {
        border-left: none;
        width: 50%;
    }
    .colorsselect .button{
        display: inline-block;
    }
    .tovar {
        height: 525px;
    }
    .leftproduct {
        display: none;
    }
    a.btn2, a.btnl {
        width: 100px;
    }
    .dr56 {
        margin-right: 0;
        width: 49%;
        margin-left: 4px;
    }
    .dr57 {
        float: right;
        width: 44%;
        margin-right: 20px;
    }
    .tovcon {
        height: 100%;
        margin-bottom: 20px;
    }
    .leftproduct2{
        display: block;
    }
    .bloker1 {
        width: 33.22%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 4px solid #E2F0F3;
        height: 100%;
    }
    .lv {
        padding-top: 29px;
        border-bottom: 1px solid #dce2e4;
        margin: 0 14px;
    }
    .product_header {
        display: inline-block;
        float: right;
        width: 240px;
    }
    .productwrp {
        padding-bottom: 20px;
        margin-top: -8px;
        z-index: 1;
        position: relative;
    }
    .foos {
        padding-right: 20px;
    }

    .menu {
        float: none;
    }
    .pow2row2 {
        margin: 6px 0px 6px;
    }
    .pow2row23 {
        direction: rtl;
        margin: 0;
    }
    .pow1 {
        padding: 10px 10px 5px;
    }
    .pow2 {
        margin-right: 10px;
    }
    .socntw {
        padding-right: 10px;
    }
    .lost2 {
        margin-right: 0px;
    }
    .ltovar{
        display: none;
    }
    .ltovar2{
        display: block;
    }
    .rtovar {
        width: 100%;
        height: 375px;
    }
    .tovar {
        height: 100%;
    }

    .lSSlideOuter .lSPager.lSGallery{
        width: 80% !important;
        margin: 0px auto !important;
        position: relative;
        top: -300px;
    }
    ul.lSPager li {
        width: 69px !important;
        height: 54px;
        margin: 0 4px !important;
    }
    ul.lSSlide { height: 288px!important;}
    .lSSlideWrapper {
        max-width: 100%;
        overflow: hidden;
        position: relative;
        height: 607px;
    }
    .lSAction > .lSPrev {
        background-position: 0 0!important;
        left:-3px!important;
        width: 27px!important;
        display: block;
        top: 50%;
        height: 73px!important;
        background-image: url('../lib/ad_prev.png')!important;
        opacity: 1!important;
    }
    .lSAction > .lSNext {
        background-position: -30px 0!important;
        right: -1px!important;
        width: 27px!important;
        display: block;
        top: 50%;
        height: 78px!important;
        background-image: url('../lib/ad_next.png')!important;
        opacity: 1!important;
    }




    .ltovar2{
        margin-top: 20px;
        background: #f3f3f3;
        position: relative;
        z-index: 1;
    }
    .lost3{
        width: 71%;
        margin-top: 1px;
    }
    .lost3 img{
        width: 100%;
    }
    .socntw {
        padding-bottom: 44px;
    }
    .dr56{
        display: none;
    }
    .dr56-2 {
        display: block;
        width: 99%;
        margin-left: 4px;
        float: none;
    }
    .dr57 {
        width: 94%;
        float: none;
        margin: 0 auto 20px;
    }
    .bloker1 {
        width: 100%;
    }


    .ltovar2 .greyc { background:url("../images/colors/grey.jpg") no-repeat center; width: 21px;
        height: 21px;
        display: block;
        border: 1px solid #bbbbbb;
        padding: 2px; }
    .ltovar2 .bluec {
        background: url("../images/colors/blue.jpg") no-repeat center;
        width: 21px;
        height: 21px;
        display: block;
        border: 1px solid #bbbbbb;
        padding: 2px;
    }
    .ltovar2 .violetc { background:url("../images/colors/violet.jpg") no-repeat center;width: 21px;
        height: 21px;
        display: block;
        border: 1px solid #bbbbbb;
        padding: 2px; }
    .ltovar2 .pinkc { background:url("../images/colors/pink.jpg") no-repeat center; width: 21px;
        height: 21px;
        display: block;
        border: 1px solid #bbbbbb;
        padding: 2px; }
    .ltovar2 input[type="radio"]:checked + label {
        border: 1px solid #d2d2d2;
        width: 21px; height: 21px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    .ltovar2 .button { float: left; margin-right: 7px;}
    .ltovar2 .button input[type="radio"] {
        display: none;
    }
    .ltovar2 .colorsselect { float: right; margin-left: 30px;}
    .ltovar2 .colorlabel { float: right; font-weight: 700; color:#4b4b4b; font-size: 15px; padding-top: 3px;
        margin-left: 10px;}
    .ltovar2 .powbtn {
        margin-top: 10px;
    }

    .dr56h{
        padding: 0 10px;
    }

    .vuuuuuu {
        padding-bottom: 20px;
    }


    .addtocarttext_product .row1,
    .addtocarttext_product .row2,
    .addtocarttext_product .row3,
    .addtocarttext_product .row4{
        font-size: 16px;
    }

    ul.ulka li:nth-child(1){
        margin-right: 16px;
    }
    ul.ulka li:nth-child(4){
        border: none;
    }
    ul.ulka li:nth-child(8){
        margin-right: 25px;
    }
    .footer {
        margin-top: 0;
    }
    /*.number-sel {*/
        /*width: 73px;*/
    /*}*/

    .MY-menu-toggle{
        display: none;
    }
    .vmode{
        display: none;
    }
    .vmode2{
        display: block;
        margin-top: -21px;
    }
    .pocik{
        display: none;
    }
    .block1 {
        box-shadow: none;
    }
}

