@media screen and (min-width: 620px) and (max-width: 1023px) {
 .vuuuuuu {
  display: none;
}
.icons > div { width: 73px;}
 .icons {
  margin-left: 0px;
  margin-bottom: 2px;
  height: 43px;
} 
.searchfield {
    margin-left: 0px;
}

.block1 {
  background-image: url("../images/bg1.png");
  height: 115px;
  width: 100%;
}
.header {
  width: 580px;
  margin: 0 auto;
  height: 79px;
}
.line1 {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 11px;
}
.phone {
  background: url("../images/phone.png") no-repeat 137px;
  width: 156px;
  background-size: 16px;
}
.icn {
  float: left;
  color: white;
  text-align: center;
  font-size: 8.5px;
  border-left: 1px solid #216cbf;
}
.icn1 {
  width: 49px;
  background: url("../images/icon1.png")no-repeat center 0px;
  padding-top: 27px;background-size: 31px;
}
.icn2 { width: 49px;background: url( "../images/icon2.png")no-repeat center 0px; padding-top: 27px;   background-size: 31px; }
.icn3 {  width: 49px;background: url( "../images/icon3.png")no-repeat center 0px; padding-top: 27px;   background-size: 31px; }
.icn4 { width: 49px;background: url( "../images/icon4.png")no-repeat center 0px; padding-top: 27px;   background-size: 31px; }
.icn5 { width: 49px;background: url( "../images/icon5.png")no-repeat center 0px; padding-top: 27px;  background-size: 31px;  }
.icn6 { width: 49px;background: url( "../images/icon6.png")no-repeat center 0px; padding-top: 27px;  background-size: 31px;
       border-right: 1px solid #216cbf;  }
input.inputs {
  width: 443px;
  height: 27px;
  border: 0;
  margin-left: 0px;
  direction: rtl;
  padding: 3px;
    background: url("../images/lupa.png") no-repeat 6px 9px #e1efff;
  background-size: 16px;
}
.line2 {
  margin-top: 8px;
  width: 450px;
}
.off620 { display: none;}
.on620block2 { display: block;}
.menu {
  float: none;
  margin-left: 0px;
  margin-top: 0px;
}
.obertka { width: 580px; margin: 0 auto;}
.block2 {margin-top: 21px;background-size: cover;}
.floatright { float: right;  height: 10px;}
.f2 {
  background: url("../images/boy.png")no-repeat 37px 1px;
    height: 90px;
  width: 94px;
  margin-left: 10px;
  margin-top: -74px;
  position: relative;
  z-index: 2;
    background-size: 53px;
}
.f1 {
  height: 115px;
  width: 106px;
  background: #0066cc;
  margin-top: -115px;
}
.stt {
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-top: 45px;
  margin-left: 13px;
}
.reglinks {
  margin-right: 21px;
  margin-left: 82px;
}
.f3 {
  width: 100%;
    height: 120px;
  border-top: 4px solid white;
  border-left: 0px solid white;
  border-right: 0px solid white;
  border-bottom: 8px solid white;
  background: #e1f5fd;
  position: relative;
  z-index: 1;
  margin-top: -21px;
}
.stt1 a {
  color: #cc3333;
  text-decoration: none;
  font-size: 15px;
  background: url("../images/bl.png")no-repeat 49px;
  display: block;
  width: 45px;
  padding-right: 17px;
  float: right;
  background-size: 10px;
}
.stt1 {
  padding-top: 11px;
  text-align: right;
  padding-left: 82px;
    padding-right: 10px;
}
.separ {
  height: 1px;
  background-color: #cbdee5;
  width: 100%;
  margin-top: 4px;
}
ul.ulka li {
  margin-bottom: 10px;
    float: right;
  margin-left: 5px;
  border-left:1px solid #ccc;
  display: block;
    padding-left: 5px;
}
.filter {
  width: 534px;
  height: 180px;
 
  float: none;
  margin: 10px auto;
  padding-left: 22px;
  padding-right: 22px;

}
.S5 { margin-right: 36px;}
.S6 { border-left: 0px!important;}
.filter select
{
  font-size:14px!important;
}
.groupf { float: right;}
.z3 { float: right;}
.groupff { float: right;}
.z2 {
  width: 147px;
  height: 32px;
 
  margin-left: 17px;
  margin-top: 16px;
  color: white;
}
.select-style {
  float: left;
  margin-top: 3px;
  margin-left: 3px;
  height: 26px;
  padding-right: 2px;
  padding-top: 0px;
  width: 108px;
  overflow: hidden;
  background-color: #fff;
  background: #e1efff url("../images/selectorr.png") no-repeat 7% 50%;
  background-size: 15px;
}

.select-style select
{
    padding: 4px 10px;
}
.texted {
  float: left;
  margin-left: 8px;
  margin-top: 5px;
  color: #eccec9;
}
.mr30 { margin-top: 40px;}

.z3 {
  width: 165px;
  height: 80px;
 
  padding: 11px;
  margin-left: 17px;
  margin-top: 17px;
}
a.z4lnk {
  display: block;
  width: 158px;
  height: 36px;
  padding-top: 12px;
  margin: 15px auto;
  background: #00c0f5;
  border-bottom: 5px solid #0099c3;
}
.groupff .z2 { margin-left: 0;}
.z4 {
  direction: rtl;
  text-align: center;
  color: white;
  margin-top: 9px;
  font-size: 13px;
  color: #eccec9;
}
a.z4lnk {
  display: block;
  width: 147px;
  height: 26px;
  padding-top: 8px;
  margin: 4px auto;
  background: #00c0f5;
  border-bottom: 5px solid #0099c3;
  font-size:14px;
    line-height: 20px;

}
.z3 {
  width: 165px;
  height: 80px;
 
  padding: 11px;
  margin-left: 25px;
  margin-top: 17px;
  margin-right: 7px;
}
.banner {
  float: none;
  margin-left: 0px;
  width: 580px;
  margin: 0 auto;
}
.banner img { width: 100%; height: 257px;}
.mg11 {
  background: url("../images/c1.png")no-repeat -8px;
  width: 83px;
  height: 96px;
  margin-right: 17px;
  background-size: 96px;
}
.mg12 { background: url( "../images/c2.png")no-repeat -8px; width: 83px; height: 110px; margin-right: 17px;background-size: 96px;}
.mg13{ background: url( "../images/c3.png")no-repeat -8px; width: 83px; height: 107px; margin-right: 16px;background-size: 96px;}
.mg14 { background: url( "../images/c4.png")no-repeat -8px; width: 83px; height: 99px; margin-right: 16px;background-size: 96px;}
.mg15 { background: url( "../images/c5.png")no-repeat -8px; width: 83px; height: 101px; margin-right: 16px;background-size: 96px;}
.mg16 { background: url( "../images/c6.png")no-repeat -8px; width: 83px; height: 101px;background-size: 96px; }
.none { display: none;}
.wrapper {
  margin: 0 auto;
  width: 580px;
}
.bloker {
  width: 185px;
  height: 263px;
  float: left;
  margin-right: 12px;
  background: white;
}

.lv img { height: 122px;}
.row1 {
  margin-top: 7px;
  font-size: 12px;
}
.row2 {
  font-size: 8px;
}
.row3, .row4 {
  font-size: 12px;
}
.row4 span { font-size: 12px!important;}
.clearright {
  margin-right: 0!important;
}
.lops { margin-right: 13px;}

.new1 {
  width: 274px;
  height: 148px;
  background: white;
  float: left;
    margin-right: 32px;
    margin-bottom: 20px;
}
.fgh {
  background: #cce7ee;
}
.txtblue {
  float: left;
  direction: rtl;
  width: 172px;
  font-size: 11px;
  padding-top: 26px;
  margin-left: 10px;
}
.vdblc iframe { width: 276px;}
.vdblc {
  width: 276px;
  margin-right: 28px;
  float: left;
  margin-bottom: 20px;
}
.foolinks {
  float: right;
  margin-top: 30px;
  font-size: 10px;
}
.fooblock {
  height: 250px;
  border-left: 1px solid #3272bf;
  width: 139px;
  float: left;
}
.wrp {
  width: 580px;
  margin: 45px auto;
  height: 92px;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.h1 {
  font-size: 12px;
  line-height: 56px;
  float: none;
  text-align: center;
}
.h2 img { width: 580px;}
.h2 {
  float: left;
  margin-top: -8px;
  margin-left: 0px;
}
.clearright2, .clearright620{ margin-right: 0;}
.overlay {
  background: #00b3e4;
  text-align: center;
  padding: 25px 0 0px 0;
  opacity: 0;
  -webkit-transition: opacity 0.01s ease;
  -moz-transition: opacity .25s ease;
  margin-top: -85px;
}
.overlay img {
  margin-left: -102px;
  margin-bottom: -55px;
  width: 53px;
}
a.addtocarttext {
  background: url("../images/kolyaska.png")no-repeat 22px 52px;
  display: block;
  padding-top: 3px;
  padding-bottom: 6px;
  background-size: 34px;
}
.offer620 { display: none;}
.S1 {  margin-left: 6px;
  margin-top: 5px;
  font-size: 14px;}


    .lSSlideOuter .lSPager.lSGallery{
        width: 80% !important;
        margin: 0px auto !important;
        position: relative;
        top: -300px;
    }
    ul.lSPager li {
        width: 69px !important;
        height: 54px;
        margin: 0 4px !important;
    }
    ul.lSSlide { height: 288px!important;}
    .lSSlideWrapper {
        max-width: 100%;
        overflow: hidden;
        position: relative;
        height: 607px;
    }
    .lSAction > .lSPrev {
        left:-3px!important;
        width: 27px!important;
        display: block;
        top: 51%;
        height: 73px!important;
        background-image: url('../lib/ad_prev.png')!important;
        opacity: 1!important;
    }
    .lSAction > .lSNext {
        background-position: -30px 0!important;
        right: -1px!important;
        width: 27px!important;
        display: block;
        top: 51%;
        height: 78px!important;
        background-image: url('../lib/ad_next.png')!important;
        opacity: 1!important;
    }
    .S2 {width: 95px;}
    a.S4 {  margin-right: 120px;}
    .rtovar {
        height: 371px;
    }
    .lost3{
        width: 62%;
        margin-top: 7px;
    }
    .lost3 img{
        width: 100%;
    }
}


/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/

@media screen and (min-width: 620px) and (max-width: 1023px) {
    .wrp1300 {
        width: 580px;
    }
    .lvl1 {
        padding-left: 10px;
    }
    .pocik {
        width: 120px;
        position: relative;
        z-index: 22;
    }
    a.lvl4 {
        width: 120px;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .lvl3 {
        padding-left: 0;
        -webkit-background-size: 66%;
        background-size: 66%;
        margin-left: 31px;
        background-position: 24px center;
    }
    .con1300 {
        width: 580px;
    }
    .rightproduct {
        margin-left: 0;
        width: 100%;
    }
    .ltovar {
        width: 50%;
    }
    .rtovar {
        border-left: none;
        width: 50%;
    }
    .colorsselect .button{
        display: inline-block;
    }
    .tovar {
        height: 470px;
    }
    .leftproduct {
        display: none;
    }
    a.btn2, a.btnl {
        width: 100px;
    }
    .dr56 {
        margin-right: 0;
        width: 49%;
        margin-left: 4px;
    }
    .dr57 {
        float: right;
        width: 44%;
        margin-right: 20px;
    }
    .tovcon {
        height: 100%;
        margin-bottom: 20px;
    }
    .leftproduct2{
        display: block;
    }
    .bloker1 {
        width: 33.22%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 4px solid #E2F0F3;
        height: 100%;
    }
    .lv {
        padding-top: 29px;
        border-bottom: 1px solid #dce2e4;
        margin: 0 14px;
    }
    .product_header {
        display: inline-block;
        float: right;
        width: 240px;
    }
    .productwrp {
        padding-bottom: 20px;
        z-index: 1;
        position: relative;
    }
    .foos {
        padding-right: 20px;
    }

    .menu {
        float: none;
    }
    .pow2row2 {
        margin: 6px 0px 6px;
    }
    .pow2row23 {
        direction: rtl;
        margin: 0;
    }
    .pow1 {
        padding: 10px 10px 5px;
    }
    .pow2 {
        margin-right: 10px;
    }
    .socntw {
        padding-right: 10px;
    }
    .lost2 {
        margin-right: 0px;
    }

    .greyc { background:url("../images/colors/grey.jpg") no-repeat center; width: 21px;
        height: 21px;
        display: block;
        border: 1px solid #bbbbbb;
        padding: 2px; }
    .bluec {
        background: url("../images/colors/blue.jpg") no-repeat center;
        width: 21px;
        height: 21px;
        display: block;
        border: 1px solid #bbbbbb;
        padding: 2px;
    }
    .violetc { background:url("../images/colors/violet.jpg") no-repeat center;width: 21px;
        height: 21px;
        display: block;
        border: 1px solid #bbbbbb;
        padding: 2px; }
    .pinkc { background:url("../images/colors/pink.jpg") no-repeat center; width: 21px;
        height: 21px;
        display: block;
        border: 1px solid #bbbbbb;
        padding: 2px; }
    input[type="radio"]:checked + label {
        border: 1px solid #d2d2d2;
        width: 21px; height: 21px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    .button { float: left; margin-right: 7px;}
    .button input[type="radio"] {
        display: none;
    }
    .colorsselect { float: right; margin-left: 30px;}
    .colorlabel { float: right; font-weight: 700; color:#4b4b4b; font-size: 15px; padding-top: 3px;
        margin-left: 10px;}
    .powbtn {
        margin-top: 10px;
    }

    /*.number-sel {*/
        /*width: 73px;*/
    /*}*/
    /*#btnDecrement {*/
        /*bottom: 0px;*/
        /*height: 11px;*/
    /*}*/

    .MY-menu-toggle{
        display: none;
    }
    .pocik {
        margin-right: 0;
        width: 106px;
    }
    .lvl3 {
        background: url("../images/boy.png")no-repeat 37px 1px;
        height: 90px;
        width: 94px;
        margin-left: 10px;
        margin-top: -115px;
        position: relative;
        z-index: 2;
        background-size: 53px;
    }
    .lvl1 {
        padding-left: 13px;
        line-height: 183px;
        font-size: 24px;
        font-weight: 700;
    }
}