.no-pad-r{
    padding-right: 0 !important;
}
.no-border{
    border: none !important;
}
img {
    vertical-align: middle;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-link{
    color: #ccccff;
    text-decoration: none;
}
.footer-link:hover{
    text-decoration: none;
    color: #ccccff;
}
.my-footer{
    background: url("../images/footer.jpg") center;
    padding-top: 40px;
}
.my-footer-wrap{
    padding: 0 50px;
}
.my-footer-top-menu{
    font-weight: bold;
}
.my-footer-top-menu a{
    margin-left: 40px;
    color: white;
    font-size: 14px;
}
.middle-menu-item{
    list-style-type: none;
    color: #ccccff;
    border-left: 1px solid #3272bf;
    text-align: right;
    direction: rtl;
    padding: 0;
    height: 300px;
}
.middle-menu-item li{
    margin-bottom: 15px;
    padding: 0 25px;
    font-size: 11px;
}
.middle-menu-item li:last-child{
    margin-bottom: 0;
}
.middle-menu-item{
    float: left;
}
.my-footer-top-menu, .my-footer-middle-menu {
    float: right;
}
.footer-info{
    width: 100%;
    background-color: #134e92;
    height: 60px;
    line-height: 60px;
    color: #b3d7ff;
    font-size: 12px;
}
.footer-img-wid{
    width: 80%;
}









@media screen and (min-width: 1420px) {
    .my-footer-wrap{
        width: 1400px;
        margin: 0 auto;
        padding: 0;
    }
    .middle-menu-item li, .my-footer-top-menu a, .footer-info{
        font-size: 16px;
    }
    .middle-menu-item li{
        padding: 0 40px;
    }
    .middle-menu-item{
        height: 320px;
    }
    .footer-img-wid{
        width: 100%;
    }

}

@media screen and (min-width: 620px) and (max-width: 1023px) {
    .dn-620{
        display: none;
    }
    .my-footer-wrap{
        width: 580px;
        margin: 0 auto;
        padding: 0;
    }
    .no-pad-r-620{
        padding-right: 0 !important;
    }
    .middle-menu-item {
        height: 235px;
    }
    .footer-info {
        padding-top: 6px;
        line-height: 40px;
        height: 100px;
        text-align: center;
    }

}

@media screen and (min-width: 0) and (max-width: 619px) {
    .dn-320{
        display: none;
    }
    .my-footer-wrap{
        width: 300px;
        margin: 0 auto;
        padding: 0;
    }
    .middle-menu-item {
        height: auto;
    }
    .my-footer-middle-menu{
        width: 250px;
        margin: 0 auto;
        float: none;
    }
    .my-footer-top-menu a{
        font-size: 12px;
        margin-left: 20px;
    }
    .footer-info {
        height: auto;
        line-height: 23px;
        font-size: 12px;
        text-align: center;
        padding: 10px 0;
    }
}