

.shadow-box
{
  box-shadow: 4px 5px 13px rgb(121, 164, 234);
}

.ulka a.selected
{
  line-height: 25px;
}

.searchfield .inputs
{
font-size:16px;
color:#3062d0;
font-weight: 600;
font-family: 'Open_heb';
}

.searchfield .inputs::-webkit-input-placeholder { color: #3062d0;}
.searchfield .inputs:-moz-placeholder {color: #3062d0;}
.searchfield .inputs::-moz-placeholder {color: #3062d0;}
.searchfield .inputs:-ms-input-placeholder {color: #3062d0;}

.new1
{
cursor:pointer;
transition:.5s all;
}
.new1:hover
{
background-color:#c7e2ea;
transition:.5s all;
}
 

.play-icon
{
  background: url(../images/play.png) no-repeat;
  width: 55px;
  height: 55px;
  background-position: 50%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}