.no-pad{
    padding: 0 !important;
}
.no-pad-right{
    padding-right: 0;
}
.inline{
    display: inline-block;
}
.v-middle{
    vertical-align: middle;
}
.bg-1{
    background: #bbe1eb;
}
.bg-2{
    background: white;
}
.marg-top--27{
    margin-top: -27px;
}
.link-1{
    color: #202324;
    font-size: 14px;
}
.link-1:hover{
    color: #202324;
}
.marg-bot-150{
    margin-bottom: 150px;
}



















.catalog{
    background: #e2f0f4;
}
.banner-2 {
    position: absolute;
    top: 42px;
}
.banner-2 img{
    width: 75.5%;
}
.banner-2-text{
    position: absolute;
    right: 284px;
    top: 20px;
    font-size: 17px;
    color: white;
    font-weight: 700;
}
.spr_product {
    z-index: 22;
    position: relative;
}
.addtocarttext_product:hover, .addtocarttext_product:hover .row4, .addtocarttext_product:hover .color-1, .addtocarttext_product:hover .color-3 {
    position: relative;
    top: 1px;
    z-index: 33;
}
.bloker1 {
    width: 100%;
}
.container {
    width: 1012px;
    padding: 0;
}
.item {
    width: 31.6%;
}
.dual-border{
    margin: 15px 0;
    background: #88b3be;
    width: 100%;
    height: 7px;
    position: relative;
}
.dual-border:after{
    content: "";
    background: #88b3be;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -3px;
}
.all-items{
    margin-top: 30px;
}
.choose-order{
    color: #202324;
    font-size: 16px;
    float: left;
    margin-top: 10px;
}
.choose-order a{
    padding-right: 5px;
}
.select-number{
    float: right;
}
.catalog-btn{
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #000000;
    text-align: center;
}
.catalog-btn:hover{
    color: #000000;
    text-decoration: none;
}
.catalog-btn.active{
    color: white;
    background: #00c0f5;
}
.select-number span{
    margin-left: 5px;
}
.catalog-btn2{
    border: none;
    background: #00c0f5;
    width: 86px;
    height: 28px;
    line-height: 28px;
    color: white;
    text-align: center;
    margin: 0 20px;
    font-size: 16px;
}
.custom-text1{
    margin-right: 2px;
    margin-left: 5px;
    font-size: 24px;
    font-weight: 700;
    color: #0e57a9;
    vertical-align: sub;
}
.catalog-btn3, .catalog-btn4{
    background: #00c0f5;
    height: 41px;
    line-height: 41px;
    width: 55%;
    border: none;
    display: inline-block;
    float: left;
    outline: none;
}
.catalog-btn4{
    width: 45%;
    background: #00b5e7;
}
#accordeon .title{
    background: #bbe1eb;
    color: #b63722;
    font-size: 16px;
    cursor: pointer;
}
.red-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6.5px 0 6.5px;
    border-color: #b63722 transparent transparent transparent;
}
.red-triangle-reverse{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.5px 7px 6.5px;
    border-color: transparent transparent #b63722 transparent;
}
#accordeon li div > input[type="checkbox"]{
    display: none;
}
#accordeon .text-inputs{
    width: 70px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #c4c4c4;
}



.accordeon-conten{
    position: relative;
}
.accordeon-content:after{
    content: '';
    position: absolute;
    top: -9px;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 9px 6px;
    border-color: transparent transparent #ffffff transparent;
}
.bx-wrapper .bx-viewport {
    background: #bbe1eb;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
     left: 0;
}
.bxslider .bxslider-item-content{
    background: #cbe8ef;
    padding-bottom: 45px;
    border: 5px solid #bbe1eb;
}
.bxslider-item-content hr{
    width: 93%;
    border-top: 1px solid #9fc6d0;
    margin: 0 auto;
}
.bx-wrapper .bx-pager{
    bottom: 15px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #ffffff;
    width: 14px;
    height: 14px;
    border-radius: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #00c0f5;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #2aa0f5;
}
.hr2{
    border-top: 1px solid #93b9c3;
    margin: 0;
}
.nav-pages{
    height: 45px;
}
.nav-btn1{
    width: 100px;
    height: 45px;
    border: none;
    text-align: center;
    line-height: 45px;
    color: #202324;
    cursor: pointer;
}
.nav-btn1.active, .nav-btn2.active{
    background: #00c0f5;
    color: #ffffff;
}
.nav-btn2{
    width: 50px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    color: #202324;
    cursor: pointer;
}
.nav-btn2:hover{
    text-decoration: none;
}
.centred-nav{
    position: relative;
    left: 6%;
}










/*======================================================================================================================*/
/*======================================================================================================================*/
/*======================================================================================================================*/
.input-hidden{
    visibility: hidden;
}
/* SQUARED FOUR */
.squaredFour {
    width: 20px;
    height: 15px;
    position: relative;
    display: inline-block;
}

.squaredFour label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #c4c4c4;
}

.squaredFour label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 5px;
    border: 3px solid #c4c4c4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredFour label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
/*======================================================================================================================*/
/*======================================================================================================================*/
/*======================================================================================================================*/

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.icons > div {
    width: 71px;
}
.icons .icn6 {
    width: 72px;
}
input.inputs {
    width: 323px;
    height: 43px;
}
.stt1 a {
    width: 100px;
}
a.selected {
    background: transparent url("../images/active.png") no-repeat scroll 0px center;
}
/*input.inputs {*/
/*margin-left: 70px;*/
/*}*/
.wrp .h1 {
    line-height: 15px;
    float: left;
}
.h2 img {
    width: 322px;
    padding-top: 0;
}
.fooblock {
    height: 315px;
    width: 151px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++ЭТО ПРОСТО ПИЗЖЕЦ ЧУВАК++++++++++++++++++++++*/
/*+++++++ПРОСТИ ИНТЕГРАТОР Я СДЕЛАЛ ВСЕ ЧТО МОГ ИЗ ЭТОГО ГАМНОКОДА+++++++++*/
/*+++++++++++++++++ПО ХОРОШОМУ НАДО ВСЕ С НУЛЯ НАПИСАТЬ+++++++++++++++++++++++++++++++*/
@media screen and (min-width: 1420px) {
    .container {
        width: 1454px;
        padding: 0 16px;
    }
    .item{
        width: 23.72%;
    }
    .custom-text1 {
        margin-right: 4px;
    }
    .catalog .container .col-xs-9{
        width: 81.2%;
    }
    .catalog .container .col-xs-3{
        width: 18.8%;
        padding-right: 16px;
    }
    .banner-2 {
        height: 74px;
        overflow: hidden;
    }
    .banner-2-text {
        right: 20px;
    }
    .banner-2 img {
        width: 100%;
    }
    .centred-nav {
        left: 15%;
    }
    .icons .icn1 {
        width: 92px !important;
    }
    .icons .icn2 {
        width: 83px !important;
    }
    .icons .icn3 {
        width: 104px !important;
    }
    .icons .icn4 {
        width: 104px !important;
    }
    .icons .icn5 {
        width: 90px !important;
    }
    .icons .icn6 {
        width: 114px;
    }
    input.inputs {
        width: 467px !important;
        height: 46px !important;
        margin-left: 71px;
    }
    a.selected {
        width: 272px !important;
        background: url("../images/top1420/active.png")no-repeat 29px !important;
    }
    ul.foos {
        margin-top: -25px;
    }
    .footer {
        padding-top: 2px;
        height: 563px;
    }
    .dopfooblock {
        width: 189px;
    }
    .dopn88 {
        width: 251px;
    }
    .fooblock1420, .fooblock1420-2, .fooblock1420-3{
        width: 201px !important;
    }
    .fooblock {
        height: 315px;
    }
    .foolinks {
        margin-top: 38px;
    }
    .dopn88 {
        width: 251px;
    }
}



@media screen and (min-width: 620px) and (max-width: 1023px) {
    .container {
        width: 600px;
    }
    .item{
        width: 30.4%;
    }
    .bloker1{
        width: 100% !important;
        border: none !important;
    }
    .bloker1 img{
        width: 100%;
    }
    .custom-text1 {
        margin-right: 4px;
    }
    .catalog .container .col-xs-9{
        width: 78%;
    }
    .catalog .container .col-xs-3{
        width: 22%;
        padding-right: 0;
        margin-top: 0;
    }
    .banner-2 {
        height: 52px;
        overflow: hidden;
    }
    .banner-2-text {
        right: 20px;
    }
    .banner-2 img {
        width: 100%;
    }
    .centred-nav {
        left: 15%;
    }
    .searchfield .inputs {
        height: 33px;
    }
    .stt1 a {
        width: 62px !important;
    }
    .catalog-btn {
        width: 20px;
        height: 22px;
        line-height: 22px;
        font-size: 10px;
    }
    .select-number {
        font-size: 10px;
        margin-top: 10px;
    }
    .catalog-btn2 {
        width: 65px;
        height: 22px;
        line-height: 22px;
        margin: 0 5px;
        font-size: 12px;
    }
    .custom-text1 {
        font-size: 14px;
        vertical-align: inherit;
    }
    #accordeon .title {
        padding-left: 0;
    }
    .accordeon-content-620{
        padding-left: 10px;
    }
    .accordeon-content-620 .inline{
        display: block !important;
        margin-bottom: 10px;
    }
    .accordeon-content-620 input{
        float: left;
    }
    .nav-btn1-620{
        display: none;
    }
    .centred-nav {
         left: 0;
    }
    .nav-btn2 {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .nav-btn1 {
        height: 25px;
        line-height: 25px;
    }
    .nav-pages {
        height: 25px;
        margin-bottom: 30px;
    }
    .font-20{
        font-size: 16px;
    }
    #accordeon .title {
        font-size: 12px;
    }
    .accordeon-content .font-14 {
        font-size: 11px;
    }
    .accordeon-content label {
        font-size: 11px;
    }
    .link-1 {
        font-size: 11px;
    }
    input.inputs {
        width: 449px !important;
    }
    .icons > div {
         width: 74px !important;
    }
    .icons > div.icn.icn6{
        width: 75px !important;
    }



}
@media screen and (min-width: 0) and (max-width: 619px) {
    .container {
        width: 300px;
    }
    .item{
        width: 46.6%;
    }
    .bloker1{
        width: 100% !important;
        border: none !important;
    }
    .bloker1 img{
        width: 100%;
    }
    .custom-text1 {
        margin-right: 4px;
    }
    .catalog .container .col-xs-9{
        width: 100%;
        padding: 0;
    }
    .catalog .container .col-xs-3{
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
    .banner-2 {
        height: 52px;
        overflow: hidden;
    }
    .banner-2-text {
        right: 20px;
    }
    .banner-2 img {
        width: 100%;
    }
    .centred-nav {
        left: 15%;
    }
    .searchfield .inputs {
        height: 33px;
    }
    .stt1 a {
        width: 62px !important;
    }
    .catalog-btn {
        width: 20px;
        height: 22px;
        line-height: 22px;
        font-size: 10px;
    }
    .select-number {
        font-size: 10px;
        margin-top: 10px;
    }
    .catalog-btn2 {
        width: 65px;
        height: 22px;
        line-height: 22px;
        margin: 0 5px;
        font-size: 12px;
    }
    .custom-text1 {
        font-size: 14px;
        vertical-align: inherit;
    }
    #accordeon .title {
        padding-left: 0;
    }
    .accordeon-content-620{
        padding-left: 10px;
    }
    .accordeon-content-620 .inline{
        display: block !important;
        margin-bottom: 10px;
    }
    .accordeon-content-620 input{
        float: left;
    }
    .nav-btn1-620{
        display: none;
    }
    .centred-nav {
        left: 0;
    }
    .nav-btn2 {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .nav-btn1 {
        height: 20px;
        line-height: 20px;
    }
    .nav-pages {
        height: 20px;
        margin-bottom: 30px;
    }
    .font-20{
        font-size: 16px;
    }
    #accordeon .title {
        font-size: 12px;
    }
    .accordeon-content .font-14 {
        font-size: 11px;
    }
    .accordeon-content label {
        font-size: 11px;
    }
    .link-1 {
        font-size: 11px;
    }
    .stt1 a {
        width: 60px !important;
    }
    ul.ulka li {
        margin-bottom: 7px;
    }
    .bxslider-320{
        display: none;
    }
    .dual-border:after {
        left: 0;
    }
    .accordeon-content-620 {
        padding-left: 200px;
    }
    .choose-order {
        font-size: 6px;
    }
    .select-number {
        font-size: 6px;
    }
    .catalog-btn {
        width: 11px;
        height: 11px;
        line-height: 11px;
        font-size: 8px;
    }
    .catalog-btn2 {
        width: 45px;
        height: 11px;
        line-height: 9px;
        font-size: 8px;
    }
    .custom-text1 {
        font-size: 9px;
    }
    .addtocarttext_product .row1, .addtocarttext_product .row2, .addtocarttext_product .row3, .addtocarttext_product .row4 {
        font-size: 9px !important;
    }
    .nav-btn2 {
        line-height: 22px;
        font-size: 10px;
    }
    .nav-btn1 {
        width: 42px;
        font-size: 10px !important;
    }
    .nav-btn1-620 {
        display: block;
    }
    .centred-nav {
        left: 16px;
    }
    .laststripe .wrp {
        height: 130px;
    }

    .h1, .h2, .h3{
        margin-top: 0;
        margin-bottom: 0;
    }
    .h2 img {
        width: 300px;
        margin-bottom: 18px;
    }
    .foo1 {
        padding-top: 35px;
    }
    .f3 {
        height: 136px !important;
    }
    ul.ulka {
        margin-top: 12px;
    }
    .vuuuuuu {
        padding-bottom: 12px;
    }
}


@-moz-document url-prefix() {
    @media screen and (min-width: 1420px) {
        /*.icn1 {*/
            /*width: 93px !important;*/
        /*}*/
        /*.icn2 {*/
            /*width: 82px !important;*/
        /*}*/
        /*.icn3 {*/
            /*width: 105px !important;*/
        /*}*/
        /*.icn4 {*/
            /*width: 104px !important;*/
        /*}*/
        /*.icn5 {*/
            /*width: 90px !important;*/
        /*}*/
        /*.icn6 {*/
            /*width: 115px !important;*/
        /*}*/
        .MY-menu-toggle-hide {
            width: 241px;
        }
        .wrp {
            height: 60px;
        }
        .footer {
            margin-top: -1px;
        }
        .fooblock1420, .fooblock1420-2, .fooblock1420-3 {
            width: 202px !important;
        }
        input.inputs {
            margin-left: 71px;
        }
    }


    .h2 img {
        margin-top: -2px;
    }
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    @media screen and (min-width: 1420px) {
        /*.icons .icn6 {*/
            /*width: 115px !important;*/
        /*}*/
    }
}
