.w100p{
    width: 100%;
}
.h290{
    height: 290px;
}
.list-unstyled{
    padding: 0;
    margin: 0;
    list-style: none;
}
.no-border{
    border: none;
}
.black{
    color: #000000;
}
.color-1{
    color: #df3524;
}
.color-2{
    color: #576064;
}
.color-3{
    color: #202324;
}
.color-4{
    color: #697377;
}
.color-4{
    color: #1369c9;
}
.font-20{
    font-size: 20px;
}
.right{
    text-align: right;
}
.pad-right-27{
    padding-right: 27px;
}









.menu {
    float: right;
    margin-right: 1px;
}
.mainbar {
    height: 100%;
}
a.lvl4 {
    width: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.MY-menu-toggle{
    position: relative;
    margin-top: -10px;
}
.MY-menu-toggle-hide{
    position: absolute;
    top: 68px;
    z-index: 11000;
    box-sizing: border-box;
    width: 220px;
}
.f2 {
    height: 130px;
    -webkit-background-size: 80%;
    background-size: 80%;
    margin-left: 126px;
}
.tovar{
    position: relative;
}
.redlabel {
    background: url("../images/redlabel.png") no-repeat;
    width: 81px;
    height: 67px;
    margin-top: 0;
    position: absolute;
    margin-left: 0;
    z-index: 200;
    right: 10px;
    top: -5px;
    color: white;
    text-align: center;
    line-height: 19px;
    font-size: 22px;
    padding-top: 8px;
}
.ltovar2{
    display: none;
}
.dr56-2{
    display: none;
}
.footer {
    padding-top: 1px;
}
.productwrp {
    padding-bottom: 30px;
}
.v-middle {
    vertical-align: middle;
}
.inline {
    display: inline-block!important;
}





.number-sel{
    position: relative;
    height: 33px;
    width: 76px;
    margin-right: 10px;
}
#numberInput, #numberInput2{
    font-size: 18px;
    text-align: center;
    height: 33px;
    width: 76px;
    box-sizing: border-box;
    padding: 0;
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(224,224,224,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(57%, rgba(255,255,255,1)), color-stop(100%, rgba(224,224,224,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(224,224,224,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(224,224,224,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(224,224,224,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=1 );
    outline: none;
    border: 1px solid #bbbbbb;
    box-shadow: none;
}
#btnIncrement, #btnDecrement, #btnIncrement2, #btnDecrement2{
    height: 17px;
    width: 31px;
    position: absolute;
    left: -40px;
    top:0;
    border: 1px solid #bbbbbb;
    font-size: 10px;
    background: white;
    outline: none;
    cursor: pointer;
    box-shadow: none;
}
#btnDecrement, #btnDecrement2{
    top:inherit;
    bottom:0;
}
#btnIncrement-bef, #btnDecrement-bef, #btnIncrement-bef2, #btnDecrement-bef2{
    position: absolute;
    left: -28px;
    top:6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3.5px 4px 3.5px;
    border-color: transparent transparent #007bff transparent;
    cursor: pointer;
}
#btnDecrement-bef, #btnDecrement-bef2{
    top:inherit;
    bottom:6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color: #007bff transparent transparent transparent;
}
.addtocarttext_product {
    padding: 8px 0 11px;
    margin-top: -2px;
}
.addtocarttext_product:hover, .addtocarttext_product:hover .row4, .addtocarttext_product:hover .color-1, .addtocarttext_product:hover .color-3{
    background: #00b3e4;
    color: white;
}
a.lvl4 {
    margin-top: 30px;
}
.pocik{
    width: 220px;
    margin-right: 11px;
}
.lvl1 {
    line-height: 199px;
    padding-left: 79px;
    font-size: 36px;
    font-weight: 700;
}
.lvl3 {
    margin-top: -171px;
    margin-left: 113px;
}

.ulka{
    margin: 0;
}




@media screen and (min-width: 1420px) {
    .pocik {
        margin-right: 0;
        width: 241px;
    }
    .lvl3 {
        margin-left: 133px;
    }
    .lvl1 {
        line-height: 215px;
        padding-left: 79px;
    }
    .MY-menu-toggle-hide {
        width: 241px;
    }
    a.lvl4 {
        margin-top: 20px;
    }
    .addtocarttext_product {
        padding: 8px 0 15px;
        margin-top: -2px;
    }
    .catalog .container .col-xs-3 {
        padding-right: 16px;
    }
    .phone {
        background: url("../images/phone.png") no-repeat 266px;
    }
}
@media screen and (min-width: 0) and (max-width: 619px) {
    .footer {
        height: 320px !important;
    }
}




@-moz-document url-prefix() {
    @media screen and (min-width: 1420px) {
        .MY-menu-toggle-hide {
            width: 241px;
        }
    }
}